


  .form-container {
    background: linear-gradient(to right, #d32f2f, #ff4081);
    padding: 83px;
    color: white;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .input-group svg {
    margin-right: 10px;
    color: #555;
  }
  
  .input-group input,
  .input-group textarea {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    padding: 8px;
    font-size: 14px;
  }
  
  